body {
    background-image: url(assets/TOOL\ Wallpaper\ 2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.gallery {
    display: inline-block;
    border: 1px solid rgb(2, 93, 153);
    flex-direction: column;
    margin: 10px;
    width: 273px;
}

.gallery .description {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
}

.gallery:hover {
    border: 1px solid rgb(0%,0%,20%);
}

.gallery img {
    width: 100%;
    height: 100%;
}

.socials {
    display: flex;
    gap: 15px;
}